<!-- wrap w3 -->
<div class="w3-container">
  <header>
    <div class="w3-container ">
      desc here
    </div>
  </header>
  <div class="w3-container">
    <!--<div id="info"><a href="http://threejs.org" target="_blank" rel="noopener">three.js css3d</a> - periodic table. <a
        href="https://plus.google.com/113862800338869870683/posts/QcFk5HrWran" target="_blank" rel="noopener">info</a>.</div>-->

    <div #canvasImgGal (window:resize)="onResize()"></div>
    <!--<div id="imgMainMenu">
      <button id="table">TABLE</button>
      <button id="sphere">SPHERE</button>
      <button id="helix">HELIX</button>
      <button id="grid">GRID</button>
    </div>
    -->
    <!-- Folder Picker (support by chrome, edge, firefox) -->
    <input id="imgFolderInput" #imgFolderInputNG type="file" (change)="filesPicked(imgFolderInputNG.files)" webkitDirectory>

  </div>
</div>