<div class="w3-sidebar w3-bar-block w3-black w3-top" style="z-index:3;width:10%;">
  <div class="w3-container w3-display-container w3-padding-16">
    <h3>
      <b><!--3D Test--></b>
    </h3>
  </div>
  <code>
    <a routerLink="" class="w3-bar-item w3-button">About</a>
    <a routerLink="cube-threejs" class="w3-bar-item w3-button">Cube - Three.js</a>
    <a routerLink="css3d-threejs" class="w3-bar-item w3-button">CSS3D - Three.js</a>
  </code>
</div>


<div style="margin-left:10%;">
  <router-outlet></router-outlet>
</div>