<!-- wrap w3 -->
<div class="w3-container">
  <header>
    <div class="w3-container ">
      <h1>
        <b>3D showcase examples set up on Angular 5, Three.js</b>
      </h1>
      Currently there is an example with rotating cubes and an example with a terrain, CSS3D and pysics developed.
      <br> A small game included most features of the examples will be implemented...
      <br>
    </div>

  </header>
  <div class="w3-container">
    <p>
      <b>Note: This page is not responsive for mobile screens yet.</b>
    </p>
  </div>

  <!-- thumb naming-->
  <div class="w3-row">
    <div class="w3-col s3 w3-center">
      <p>Cube - Three.js</p>
    </div>
    <div class="w3-col s3 w3-center">
      <p>CSS3D - Three.js</p>
    </div>
    <div class="w3-col s3 w3-center">
      <p>Image Gallery - Three.js</p>
    </div>
    <div class="w3-col s3"></div>
  </div>

  <!--thumbs-->
  <div class="w3-row">
    <div class="w3-col s3 w3-center">
      <a routerLink="cube-threejs">
        <img [src]="imgURL_cube_threejs" alt="" height="150" width="150">
      </a>
    </div>
    <div class="w3-col s3 w3-center">
      <a routerLink="css3d-threejs">
        <img [src]="imgURL_css3d_threejs" alt="" height="150" width="150">
      </a>
    </div>
    <div class="w3-col s3 w3-center">
      <a routerLink="img-gallery">
        <img [src]="imgURL_img_gallery_threejs" alt="" height="150" width="150">
      </a>
    </div>
    <div class="w3-col s6"></div>
  </div>
</div>