<!-- wrap w3 -->
<div class="w3-container">
  <header>
    <div class="w3-container ">
      <h1>
        <b>3D showcase examples set up on Angular 5, Three.js</b>
      </h1>
      Currently there is an example with rotating cubes and an example with a terrain, CSS3D and pysics developed.
      <br> A small game included most features of the examples will be implemented...
      <br>
    </div>

  </header>
  <div class="w3-container">
    <p>
      <b>Note: This page is not responsive for mobile screens yet.</b>
    </p>
  </div>
  <ul>
    <li>Cube - Three.js</li>
    <a routerLink="cube-threejs">
      <img src="/assets/screens/cube_threejs.jpg" alt="" height="150" width="150">
    </a>
    <li>CSS3D - Three.js</li>
    <a routerLink="css3d-threejs">
      <img src="/assets/screens/css3d_threejs.jpg" alt="" height="150" width="150">
    </a>
  </ul>
</div>