.menuMainElement{
    color: rgba(146, 255, 127, 0.75);
    background: transparent;
    outline: 1px solid rgba(127, 255, 138, 0.2);
    /* border: 0px; */
    padding: 5px 10px;
    margin-top: 5px;
    width: 100px;
    cursor: pointer;
    opacity: 0.7;
}

.menuSubElement{
    color: rgba(146, 255, 127, 0.75);
    background: transparent;
    width: 150px;
    cursor: pointer;
    opacity: 0.7;
}
.menuMainElement:hover, .menuSubElement:hover {
    /*background-color: rgba(146, 255, 127, 0.808);*/
    outline: none;
    opacity: 1.0;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.menuMainElement:active, .menuSubElement:active {
     color: rgba(146, 255, 127, 0.75);
        border: 5px;
    /* background-color: rgba(91, 165, 78, 0.808); */
}

.menuMainElement:focus, .menuSubElement:focus {
    background-color: rgba(91, 165, 78, 0.808);
}

.menuChkBx{
    padding-top: 0px;
    padding-bottom: 0px;   
    outline: 0px;
}

.galImg {
    box-shadow: 0px 0px 12px rgba(127, 255, 138, 0.75);
    border: 5px solid rgba(127, 255, 138, 0.75);
    text-align: center;
    cursor: default;
}

.galImg:hover {
    box-shadow: 0px 0px 12px rgba(146, 255, 127, 0.808);
    border: 10px solid rgba(146, 255, 127, 0.808);
}

#imgFolderInput {
    color: rgba(127,255,255,0.75);
    background: transparent;
    z-index: 9;
}

.imgMainMenu {
    position: absolute;
    left: 5px;
    margin-left: 5px;
    z-index: 10;
}

.imgSubMenu {
    position: absolute;
    width: 100%;
    margin-left: 5px;
    z-index: 10;
}

#menuTitle{
    color: rgba(146, 255, 127, 0.75);

    text-shadow: 9px 3px 5px #69ff00;
    background: transparent;
}

.detailMenu {
    box-shadow: 0px 0px 12px rgba(7, 255, 243, 0.808);
    border: 2px solid rgba(2, 192, 240, 0.856);
    visibility: hidden;
    /* opacity: 0.0; */
    color: yellow;
    background: #32363df1;
}

.detailMenu_leftCol, .detailMenu_rightCol{
    color: yellow;
}


/*
 * Slider Spec
*/
.slider {
    /*-webkit-appearance: none;*/
    width: 150px;
    background: transparent;
    outline: none;
    /* opacity: 0.7; */
    /* -webkit-transition: .2s; */
    /* transition: opacity .2s; */
  }
  
  .slider:hover {
    opacity: 1;
  }
   
  .slider::-moz-range-thumb {
    width: 12px;
    height: 20px;
    background: #4CAF50;
    cursor: pointer;
  }


